catboost==0.25.1
ipython==7.23.1
ipywidgets==7.6.3
jupyter==1.0.0
jupyterlab-widgets==1.0.0
lab==6.3
matplotlib==3.4.2
notebook==6.4.0
numpy==1.20.3
pandas==1.2.4
scikit-learn==0.24.2
scipy==1.6.3
sklearn==0.0
widgetsnbextension==3.5.1
